<p id="notice"><%= notice %></p>

<h1>Board Members</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Middle</th>
      <th>Last</th>
      <th>Email</th>
      <th>Work</th>
      <th>Cell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_members.each do |board_member| %>
      <tr>
        <td><%= board_member.first %></td>
        <td><%= board_member.middle %></td>
        <td><%= board_member.last %></td>
        <td><%= board_member.email %></td>
        <td><%= board_member.work %></td>
        <td><%= board_member.cell %></td>
        <td><%= link_to 'Show', board_member %></td>
        <td><%= link_to 'Edit', edit_board_member_path(board_member) %></td>
        <td><%= link_to 'Destroy', board_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Member', new_board_member_path %>
